<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body id="index">
    <main class="site-index">
      <div class="content-wrapper">
        {{ content }}
      </div>
    </main>
    <section id="site-playground"></section>

    <script src="/js/particles.js"></script>
    <script>
      particlesJS.load('site-playground', '/js/particles.json', function() {
        console.log('callback - particles.js config loaded')
      })
    </script>

    <script>
      let clicked = 0;
      document.querySelector('.site-index').addEventListener('click', function(e) {
        console.log("Count: " + clicked)
        if (clicked === 0) {
          clicked++;
        } else if (clicked === 1) {
          clicked = 0

          if (e.target.classList.contains('site-is-active')) {
            e.target.classList.remove('is-active')
          } else {
            e.target.classList.add('is-active')
          }
        }
      })

    </script>
  </body>
</html>
